<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LFI - Data Center</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Other CSS -->
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="sidebar1.css">
</head>
<body style="background: linear-gradient(to right, rgb(34, 134, 255), rgb(153, 230, 234));">
<!-- NavBar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">PT Lasallefood Indonesia - SI Data</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <!--
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li> -->
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Administrator</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
      </div>
</nav>

<!-- Side navigation -->
<div class="row">
    <div class="col-sm-1 col-md-1"></div>
    <div class="col-sm-2 col-md-2">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                        </span> Laporan</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#"> Articles</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-flash text-success"></span><a href="#"> News</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-file text-info"></span><a href="#"> Newsletters</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-comment text-success"></span><a href="#"> Comments</a>
                                    <span class="badge">42</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-search">
                        </span> Pencarian</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <a href="#">Orders</a> <span class="label label-success">$ 320</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Invoices</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Shipments</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Tex</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                        </span> Asset</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <a href="#">Change Password</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Notifications</a> <span class="label label-info">5</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Import/Export</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-trash text-danger"></span><a href="#" class="text-danger">
                                        Delete Account</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                        </span> Maintenance</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-cog"></span><a href="#"> Ganti Password</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-usd"></span><a href="#"> Sales</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-user"></span><a href="#"> Customers</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tasks"></span><a href="#"> Products</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-shopping-cart"></span><a href="#"> Shopping Cart</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-8">
        <div class="well" style=" background-color: white;">
            <h2 align="center">Vendor</h2><br>
            <form class="form-horizontal" action="#">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="id_vendor">ID Vendor:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="id_vendor" placeholder="ID Vendor" name="id_vendor">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="nama_vendor">Nama Vendor:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="nama_vendor" placeholder="Nama Vendor" name="nama_vendor">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="alamat_vendor">Alamat:</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="alamat_vendor" placeholder="Alamat Vendor" name="alamat_vendor"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="no_tel_vendor">Nomor Telepon:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="no_tel_vendor" placeholder="Nomor Telepon" name="no_tel_vendor">
                    </div>
                </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="email" placeholder="Email vendor" name="email">
                </div>
              </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="cat_vendor">Catatan:</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="cat_vendor" placeholder="Catatan .." name="cat_vendor"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-7">
                        <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                        <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add</button>
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>